<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Google Maps Multiple Markers</title>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxfe_cHNtLA90xWyHykDj0HZKLpVqYLpI&callback=initMap"
  type="text/javascript"></script>
</head>

<body>

<div id="map" style="width: 500px; height: 400px;"></div>

  <script type="text/javascript">
    var locations = [
      ['Bondi Beach', -13.69322, -47.82922, 4],
      ['Coogee Beach', -13.69653, -47.82976, 5],
      ['Cronulla Beach', -13.42668, -47.83013, 3],
      ['Manly Beach', -13.83, -47.33931, 2],
      ['Maroubra Beach', -13.4249, -47.82881, 1]
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 8,
      center: new google.maps.LatLng(-13.6324788, -47.7458934),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function (marker, i) {
        return function () {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }

  </script>
</body>

</html>